@import '../../style/index.scss';
@import './mixin.scss';

.sru-btn {
  position: relative;
  display: inline-block;
  color: $body-color;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
  &.disabled, &[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
  }
}

// type
.sru-btn-default {
  @include button-style($white, $gray-400, $body-color, $white, $primary, $primary);
}

.sru-btn-primary {
  @include button-style($primary, $primary, $white);
}

.sru-btn-info {
  @include button-style($info, $info, $white);
}
