@import '../../style/index.scss';
@import './mixin.scss';

[id^="components-button-demo-"] .sru-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}

.sru-btn {
  position: relative;
  display: inline-block;
  color: $body-color;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
  &.disabled, &[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
  }
}

// type
.sru-btn-default {
  @include button-style($white, $gray-400, $body-color, $white, $primary, $primary);
}

.sru-btn-primary {
  @include button-style($primary, $primary, $white);
}

.sru-btn-info {
  @include button-style($info, $info, $white);
}

.sru-btn-link {
  color: $btn-link-color;
  font-weight: $font-weight-normal;
  text-decoration: $link-decoration;
  background: transparent;
  box-shadow: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus, &.focus {
    text-decoration: $link-hover-decoration;
  }
  &[disabled], &.disabled {
    color: $btn-link-disabled-color;
    text-decoration: $link-decoration;
    pointer-events: none;
  }
}

// size
.sru-btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}

.sru-btn-md {
  @include button-size(
    $btn-padding-y-md,
    $btn-padding-x-md,
    $btn-font-size-md,
    $btn-border-radius-md
  );
}

.sru-btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}
